Repository modelica/efmi-testcases, changes with the owners that CODEOWNERS names for each.
All owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno, @modelica/map-efmi

CODEOWNERS:

*													@christoff-buerger
CODEOWNERS											@christoff-buerger @MartinOtter @AndreasPfeiffer @olivleno
SECURITY.md											@christoff-buerger @MartinOtter @AndreasPfeiffer @olivleno
README.md											@christoff-buerger @MartinOtter @AndreasPfeiffer @olivleno
GALEC-examples/										@christoff-buerger @modelica/map-efmi
eFMI/												@christoff-buerger @MartinOtter
eFMI_TestCases/										@christoff-buerger @AndreasPfeiffer
eFMI_TestCases/M14_Rectifier						@christoff-buerger @AndreasPfeiffer @olivleno
eFMI_TestCases/M15_AirSystem						@christoff-buerger @AndreasPfeiffer @olivleno
eFMI_TestCases/M16_ROM								@christoff-buerger @AndreasPfeiffer @olivleno

Corrected content of annotation __fmi_sourceModel for all test cases with changed package or controller model names
  eFMI_TestCases/M01_SimplePI/Tests/Controller_ExplEuler.mo
  eFMI_TestCases/M01_SimplePI/Tests/Controller_ImplEuler.mo
  eFMI_TestCases/M02_SimplePID/Tests/Controller_ExplEuler.mo
  eFMI_TestCases/M06_SkyhookGroundhook/Tests/Controller_ExplEuler.mo
  eFMI_TestCases/M07_CrabEstimation/Tests/Plant1_RK4.mo
  eFMI_TestCases/M07_CrabEstimation/Tests/Plant2_ExplEuler.mo
  eFMI_TestCases/M07_CrabEstimation/Tests/Plant2_RK4.mo
  eFMI_TestCases/M10_ControlledSliderCrank/Tests/Controller_ExplEuler.mo
  eFMI_TestCases/M10_ControlledSliderCrank/Tests/Controller_Rosenbrock1.mo
  eFMI_TestCases/M14_Rectifier/Tests/GeneratorMonolithic_ExplEuler.mo
  eFMI_TestCases/M14_Rectifier/Tests/Generator_ExplEuler.mo
  eFMI_TestCases/M15_AirSystem/Tests/AirSystem_ExplEuler.mo
  eFMI_TestCases/M15_AirSystem/Tests/AirSystem_ImplEuler.mo
  eFMI_TestCases/M15_AirSystem/Tests/AirSystem_Rosenbrock1.mo
  eFMI_TestCases/M16_ROM/Tests/MatrixEqSystem_ImplEuler.mo
  eFMI_TestCases/S001_PIDController/Tests/Controller_ExplEuler.mo
  eFMI_TestCases/S003_VehicleModel/Tests/VehicleScalarInterface_ExplEuler.mo
  eFMI_TestCases/S003_VehicleModel/Tests/VehicleScalarInterface_Rosenbrock1.mo
  eFMI_TestCases/S003_VehicleModel/Tests/Vehicle_ExplEuler.mo
  eFMI_TestCases/S003_VehicleModel/Tests/Vehicle_Rosenbrock1.mo
Owners: @christoff-buerger, @AndreasPfeiffer, @olivleno

Added a check, if the model classes given in annotations really exist
  eFMI_TestCases/Utilities/Internal/exportListOfControllerModels.mo
Owners: @christoff-buerger, @AndreasPfeiffer

Removed PerformanceTests icon.
  eFMI_TestCases/Icons/PerformanceTest.mo
  eFMI_TestCases/Icons/package.order
  eFMI_TestCases/M03_DCMotorSpeedControl/Tests/PIDController_ExplEuler.mo
  eFMI_TestCases/M04_DrivetrainTorqueControl/Tests/Controller_ExplEuler.mo
  eFMI_TestCases/M04_DrivetrainTorqueControl/Tests/Controller_Rosenbrock1.mo
  eFMI_TestCases/M10_ControlledSliderCrank/Tests/Controller_ExplEuler.mo
  eFMI_TestCases/M15_AirSystem/Tests/AirSystem_ExplEuler.mo
  eFMI_TestCases/M15_AirSystem/Tests/AirSystem_Rosenbrock1.mo
  eFMI_TestCases/M16_ROM/Tests/MatrixEqSystem_ImplEuler.mo
  eFMI_TestCases/Utilities/ClockedContinuousTwin.mo
Owners: @christoff-buerger, @AndreasPfeiffer, @olivleno

Removed test cases that are not published.
  eFMI_TestCases/Utilities/ExportListOfTestCases.mo
Owners: @christoff-buerger, @AndreasPfeiffer

Cosmetic changes
  eFMI_TestCases/Utilities/Internal/exportListOfTestCases.mo
  eFMI_TestCases/Utilities/package.order
Owners: @christoff-buerger, @AndreasPfeiffer

Improved docu as decided in the meeting on 19.05.21
  eFMI_TestCases/UsersGuide/package.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @AndreasPfeiffer

Improved contributing guidelines (in particular that a CLA bot will be used).
  CONTRIBUTING.md
  README.md
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno

Improved contributing guidelines.
  CONTRIBUTING.md
Owners: @christoff-buerger

Fixed broken link.
  README.md
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno

Updated readme regarding contributing and repository guidelines.
  README.md
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno

Adapted copyright according to MAP policies.
  LICENSE
Owners: @christoff-buerger

Fixed copyright and registered trademarks in libraries.
  eFMI/package.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer

Fixed eFMI logo.
  eFMI/Icons/eFMI.mo
  eFMI/Resources/Images/eFMI-logo.svg
  eFMI/Resources/Images/efmi-logo.png
Owners: @christoff-buerger, @MartinOtter

Fixed eFMI logo (e not cut anymore) and removed svg (not used and we should wait for the final version by the MA backoffice).
  eFMI/Icons/eFMI.mo
  eFMI/Resources/Images/eFMI-logo-1200dpi.png
  eFMI/Resources/Images/eFMI-logo.svg
  eFMI/Resources/Images/efmi-logo.png
Owners: @christoff-buerger, @MartinOtter

M16: Added new ROM version with the multi-dimensional arithmetics encapsulated in a user-defined function.
  eFMI_TestCases/M16_ROM/Controllers/PackedMatrixEqSystem.mo
  eFMI_TestCases/M16_ROM/Controllers/package.order
  eFMI_TestCases/M16_ROM/ReferenceTests/PackedMatrixEqSystem_ImplEuler.mo
  eFMI_TestCases/M16_ROM/ReferenceTests/package.order
  eFMI_TestCases/M16_ROM/TestSetups/BaseSetup.mo
  eFMI_TestCases/M16_ROM/Tests/PackedMatrixEqSystem_ImplEuler.mo
  eFMI_TestCases/M16_ROM/Tests/package.order
Owners: @christoff-buerger, @AndreasPfeiffer, @olivleno

Converted eFMI to MSL 4.0.0 (new target version is 1.1.0).
  eFMI/BuiltinFunctions/package.mo
  eFMI/Icons/Table.mo
  eFMI/Tables/CombiTable1Ds.mo
  eFMI/Tables/CombiTable2Ds.mo
  eFMI/Tables/convertInterpolation.mo
  eFMI/Tables/convertSmoothness.mo
  eFMI/Tables/package.order
  eFMI/Tests/BuiltinFunctions/Test2_interpolation1D.mo
  eFMI/Tests/BuiltinFunctions/Test2_interpolation2D.mo
  eFMI/Tests/BuiltinFunctions/Test_interpolation1D.mo
  eFMI/Tests/BuiltinFunctions/Test_interpolation2D.mo
  eFMI/Tests/Tables/Test_CombiTable1Ds_Modelica.mo
  eFMI/Tests/Tables/Test_CombiTable2D_Modelica.mo
  eFMI/Tests/package.mo
  eFMI/package.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer

Added Modelica 3.5 conform "Protection" annotation to ease distribution of the library bundled with Modelica tooling.
  eFMI/package.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer

Added "__Dymola_showFlat" annotation to mark all models as being permitted for flat Modelica and GALEC code generation.
  eFMI/package.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer

Removed obsolete convert script.
  eFMI_TestCases/Resources/ConvertFromeFMI_TestCases_1.1.0.mos
Owners: @christoff-buerger, @AndreasPfeiffer

M04: Use fixed MSL LimPID configuration instead of copy-and-paste modified version.
  eFMI_TestCases/M04_DrivetrainTorqueControl/Controllers/Controller.mo
  eFMI_TestCases/M04_DrivetrainTorqueControl/Utilities/LimPI_withFeedForward.mo
  eFMI_TestCases/M09_MixingUnit_FBL/package.mo
Owners: @christoff-buerger, @AndreasPfeiffer

M04: Use fixed MSL LimPID configuration instead of copy-and-paste modified version.
  eFMI_TestCases/M04_DrivetrainTorqueControl/Controllers/Controller.mo
  eFMI_TestCases/M04_DrivetrainTorqueControl/Utilities/LimPI_withFeedForward.mo
  eFMI_TestCases/M04_DrivetrainTorqueControl/Utilities/package.order
Owners: @christoff-buerger, @AndreasPfeiffer

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @christoff-buerger

Fixed version error (cf. versioning scheme described on "Standard" page of efmi-standard.org website).
  eFMI/package.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer

Updated copyright date.
  eFMI/package.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer

Updated copyright date.
  LICENSE
Owners: @christoff-buerger

Fixed reference test-case to use the right plant model.
  eFMI_TestCases/M07_CrabEstimation/Tests/Plant2_ExplEuler.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @AndreasPfeiffer

Update README.md
  README.md
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno

Updated readme.
  README.md
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno

Updated version number for next release.
  eFMI/package.mo
  eFMI_TestCases/Icons/ReferenceTests.mo
  eFMI_TestCases/M03_DCMotorSpeedControl/package.mo
  eFMI_TestCases/M04_DrivetrainTorqueControl/package.mo
  eFMI_TestCases/M05_ControlledMixingUnit/package.mo
  eFMI_TestCases/M09_MixingUnit_FBL/package.mo
  eFMI_TestCases/M10_ControlledSliderCrank/package.mo
  eFMI_TestCases/M15_AirSystem/PlantModels/Air_Fuel_Ratio.mo
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno

Extract parametric expression causing recalibration issues (M[:,:] is a state but M[4,4] is a pure parametric expression that shall be recomputed in case of parameter tuning only).
  eFMI_TestCases/S003_VehicleModel/Controllers/VehicleEquations.mo
Owners: @christoff-buerger, @AndreasPfeiffer

Updated copyright date, deputy library officer and used MSL version.
  eFMI/package.mo
Owners: @christoff-buerger, @MartinOtter

Moved never working interactive interpolation function tests inside protected model section. Print interpolation result instead of static Ok.
  eFMI/Tests/BuiltinFunctions/Test2_interpolation1D.mo
  eFMI/Tests/BuiltinFunctions/Test2_interpolation2D.mo
  eFMI/Tests/BuiltinFunctions/Test_interpolation1D.mo
  eFMI/Tests/BuiltinFunctions/Test_interpolation2D.mo
  eFMI/Tests/BuiltinFunctions/package.order
Owners: @christoff-buerger, @MartinOtter

Updated copyright date and used MSL version.
  eFMI_TestCases/package.mo
Owners: @christoff-buerger, @AndreasPfeiffer

Neural network support: Work on activation function icons.
  eFMI/BuiltinFunctions/package.mo
  eFMI/Icons/CoordinateSystem.mo
  eFMI/Icons/Function.mo
  eFMI/Icons/NeuralNet.mo
  eFMI/Icons/ReLU.mo
  eFMI/Icons/Sigmoid.mo
  eFMI/Icons/Softplus.mo
  eFMI/Icons/Table.mo
  eFMI/Icons/UnitStep.mo
  eFMI/Icons/eFMI.mo
  eFMI/Icons/identity.mo
  eFMI/Icons/package.order
  eFMI/Icons/tanh.mo
  eFMI/NeuralNetworks/ActivationFunctions/package.mo
  eFMI/NeuralNetworks/ActivationFunctions/package.order
  eFMI/NeuralNetworks/package.mo
  eFMI/NeuralNetworks/package.order
  eFMI/package.order
Owners: @christoff-buerger, @MartinOtter

Neural network support: Work on activation function icons.
  eFMI/Icons/identity.mo
  eFMI/Icons/package.order
  eFMI/NeuralNetworks/ActivationFunctions/package.mo
Owners: @christoff-buerger, @MartinOtter

Neural network support: Work on activation functions.
  eFMI/Icons/NeuralBlock.mo
  eFMI/Icons/NeuralLayer.mo
  eFMI/Icons/TensorFlowInput.mo
  eFMI/Icons/TensorFlowOutput.mo
  eFMI/Icons/package.order
  eFMI/Icons/tanh.mo
  eFMI/NeuralNetworks/ActivationFunctions/Identity.mo
  eFMI/NeuralNetworks/ActivationFunctions/ReLU.mo
  eFMI/NeuralNetworks/ActivationFunctions/Sigmoid.mo
  eFMI/NeuralNetworks/ActivationFunctions/Softplus.mo
  eFMI/NeuralNetworks/ActivationFunctions/UnitStep.mo
  eFMI/NeuralNetworks/ActivationFunctions/package.mo
  eFMI/NeuralNetworks/ActivationFunctions/package.order
  eFMI/NeuralNetworks/ActivationFunctions/tanh.mo
  eFMI/NeuralNetworks/Interfaces/ActivationFunction.mo
  eFMI/NeuralNetworks/Interfaces/TensorFlowInput.mo
  eFMI/NeuralNetworks/Interfaces/TensorFlowOutput.mo
  eFMI/NeuralNetworks/Interfaces/package.mo
  eFMI/NeuralNetworks/Interfaces/package.order
  eFMI/NeuralNetworks/Layers/package.mo
  eFMI/NeuralNetworks/Layers/package.order
  eFMI/NeuralNetworks/package.order
Owners: @christoff-buerger, @MartinOtter

Neural network support: Work on preprocessing functions.
  eFMI/NeuralNetworks/ActivationFunctions/Identity.mo
  eFMI/NeuralNetworks/ActivationFunctions/ReLU.mo
  eFMI/NeuralNetworks/ActivationFunctions/Sigmoid.mo
  eFMI/NeuralNetworks/ActivationFunctions/Softplus.mo
  eFMI/NeuralNetworks/ActivationFunctions/UnitStep.mo
  eFMI/NeuralNetworks/ActivationFunctions/tanh.mo
  eFMI/NeuralNetworks/Interfaces/ActivationFunction.mo
  eFMI/NeuralNetworks/Interfaces/Preprocessing.mo
  eFMI/NeuralNetworks/Interfaces/TensorFlowOperation.mo
  eFMI/NeuralNetworks/Interfaces/package.order
  eFMI/NeuralNetworks/Preprocessing/MinMaxDenormalize.mo
  eFMI/NeuralNetworks/Preprocessing/MinMaxNormalize.mo
  eFMI/NeuralNetworks/Preprocessing/PCA.mo
  eFMI/NeuralNetworks/Preprocessing/StandardScoreDenormalize.mo
  eFMI/NeuralNetworks/Preprocessing/StandardScoreNormalize.mo
  eFMI/NeuralNetworks/Preprocessing/package.mo
  eFMI/NeuralNetworks/Preprocessing/package.order
  eFMI/NeuralNetworks/package.order
Owners: @christoff-buerger, @MartinOtter

Neural network support: Work on neural layer, automatic dimensions declaration, tests, connection line color, and icons.
  eFMI/Icons/NeuralLayer.mo
  eFMI/Icons/TensorFlowInput.mo
  eFMI/Icons/TensorFlowOutput.mo
  eFMI/NeuralNetworks/ActivationFunctions/Identity.mo
  eFMI/NeuralNetworks/Interfaces/ActivationFunction.mo
  eFMI/NeuralNetworks/Interfaces/ActivationType.mo
  eFMI/NeuralNetworks/Interfaces/NeuralLayer.mo
  eFMI/NeuralNetworks/Interfaces/Preprocessor.mo
  eFMI/NeuralNetworks/Interfaces/TensorFlowInput.mo
  eFMI/NeuralNetworks/Interfaces/TensorFlowOperation.mo
  eFMI/NeuralNetworks/Interfaces/TensorFlowOutput.mo
  eFMI/NeuralNetworks/Interfaces/package.order
  eFMI/NeuralNetworks/Layers/package.order
  eFMI/NeuralNetworks/NeuralLayers/DenseLayer.mo
  eFMI/NeuralNetworks/NeuralLayers/package.mo
  eFMI/NeuralNetworks/NeuralLayers/package.order
  eFMI/NeuralNetworks/Preprocessors/Identity.mo
  eFMI/NeuralNetworks/Preprocessors/MinMaxDenormalize.mo
  eFMI/NeuralNetworks/Preprocessors/MinMaxNormalize.mo
  eFMI/NeuralNetworks/Preprocessors/PCA.mo
  eFMI/NeuralNetworks/Preprocessors/StandardScoreDenormalize.mo
  eFMI/NeuralNetworks/Preprocessors/StandardScoreNormalize.mo
  eFMI/NeuralNetworks/Preprocessors/package.mo
  eFMI/NeuralNetworks/Preprocessors/package.order
  eFMI/NeuralNetworks/package.order
  eFMI/Tests/NeuralNetworks/NARX.mo
  eFMI/Tests/NeuralNetworks/SimpleTest.mo
  eFMI/Tests/NeuralNetworks/package.mo
  eFMI/Tests/NeuralNetworks/package.order
  eFMI/Tests/package.order
Owners: @christoff-buerger, @MartinOtter

Neural network support: Work on tests.
  eFMI/Tests/NeuralNetworks/NARX.mo
  eFMI/Tests/NeuralNetworks/package.order
Owners: @christoff-buerger, @MartinOtter

Added template partial NeuralNetwork model.
  eFMI/Icons/NeuralNetwork.mo
  eFMI/Icons/NeuralParameters.mo
  eFMI/Icons/package.order
  eFMI/NeuralNetworks/Interfaces/NeuralNetwork.mo
  eFMI/NeuralNetworks/Interfaces/package.order
  eFMI/NeuralNetworks/NeuralLayers/DenseLayer.mo
  eFMI/NeuralNetworks/Preprocessors/Identity.mo
  eFMI/NeuralNetworks/Preprocessors/MinMaxDenormalize.mo
  eFMI/NeuralNetworks/Preprocessors/MinMaxNormalize.mo
  eFMI/NeuralNetworks/package.mo
  eFMI/Tests/NeuralNetworks/SimpleTest.mo
  eFMI/Tests/NeuralNetworks/package.mo
Owners: @christoff-buerger, @MartinOtter
