Repository modelica/efmi-testcases, changes with the owners that CODEOWNERS names for each.
All owners: @christoff-buerger, @MartinOtter, @AndreasPfeiffer, @olivleno, @modelica/map-efmi

CODEOWNERS:

*													@christoff-buerger
CODEOWNERS											@christoff-buerger @MartinOtter @AndreasPfeiffer @olivleno
SECURITY.md											@christoff-buerger @MartinOtter @AndreasPfeiffer @olivleno
README.md											@christoff-buerger @MartinOtter @AndreasPfeiffer @olivleno
GALEC-examples/										@christoff-buerger @modelica/map-efmi
eFMI/												@christoff-buerger @MartinOtter
eFMI_TestCases/										@christoff-buerger @AndreasPfeiffer
eFMI_TestCases/M14_Rectifier						@christoff-buerger @AndreasPfeiffer @olivleno
eFMI_TestCases/M15_AirSystem						@christoff-buerger @AndreasPfeiffer @olivleno
eFMI_TestCases/M16_ROM								@christoff-buerger @AndreasPfeiffer @olivleno

Added author information for eFMI.NeuralNetworks.
  eFMI/NeuralNetworks/package.mo
  eFMI/Resources/Images/ds-logo.png
Owners: @christoff-buerger, @MartinOtter

Added documentation for M11.
  eFMI_TestCases/M11_NeuralQVM/package.mo
  eFMI_TestCases/Resources/Documentation/M11-modelica-2025-paper.pdf
  eFMI_TestCases/Resources/Documentation/M11-reference-2.pdf
  eFMI_TestCases/Resources/Documentation/M11-reference-3.pdf
Owners: @christoff-buerger, @AndreasPfeiffer

Update copyright year.
  LICENSE
Owners: @christoff-buerger

Remove dependency on DymolaEmbedded (slipped in by accident when moving the example public domain).
  eFMI_TestCases/M11_NeuralQVM/Components/NeuralDamper/Parametrization.mo
  eFMI_TestCases/M11_NeuralQVM/Components/NeuralSpring/Parametrization.mo
Owners: @christoff-buerger, @AndreasPfeiffer

Updated to final conference paper version (as released in proceedings).
  eFMI_TestCases/Resources/Documentation/M11-modelica-2025-paper.pdf
Owners: @christoff-buerger, @AndreasPfeiffer
